html {
  margin: 0px;
  font-family: "Oswald", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}

.navbar {
  background-color: #407aff;
  width: 260px;
  height: 633px;
  position: fixed;
  z-index: 2;
}
.navbar-logo img {
  width: 250px;
  margin-top: 10px;
}

.navbar-elements p > a {
  font-size: 18px;
  text-decoration: none;
  color: #407aff;
  font-weight: 400;
}

.navbar-elements p {
  display: flex;
  align-items: center;
  background-color: white;
  width: 212px;
  height: 35px;
  border-radius: 5px;
  margin-left: 18px;
  padding-inline-start: 8px;
}

.elements a:hover {
  background-color: #1540a7;
  color: white;
}

.elements:hover {
  background-color: #1540a7;
  color: white;
}

.under-navbar {
  width: 260px;
  height: 1000px;
  background-color: black;
}

.profile-tab {
  display: flex;
}

.profile-avatar {
  width: 1100px;
  height: 225px;
  background-color: #1540a7;
}

.profile-avatar img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 120px;
  margin-left: 450px;
  border: 3px black solid;
}

.profile-name {
  text-align: center;
  margin-top: 125px;
}

.btn-avatar {
  position: absolute;
  z-index: 2;
  margin-left: 835px;
  width: 120px;
  height: 30px;
  font-size: 17px;
  margin-top: 15px;
  border-radius: 15px;
  border: none;
}

.btn-avatar:hover {
  background-color: #407aff;
  color: white;
}

.create-content {
  margin-left: 960px;
}

.profile-details {
  display: flex;
  margin-top: 60px;
}

.profile-introduce {
  margin-left: 30px;
  width: 300px;
  background-color: #1540a7;
  border-radius: 15px;
  max-height: 900px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

.profile-post {
  width: 700px;
  margin-left: 30px;
}

.profile-introduce h2 {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.profile-post h2 {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.profile-introduce hr {
  width: 140px;
  margin-left: 5px;
  background-color: white;
  height: 3px;
  border: none;
  border-radius: 20px;
  margin-bottom: 20px;
}

.profile-post hr {
  width: 100px;
  margin-left: 0px;
  background-color: #1540a7;
  height: 3px;
  border: none;
  border-radius: 20px;
}

.profile-introduce div {
  width: 290px;
  height: 30px;
  background-color: white;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding-inline-start: 10px;
  border-radius: 15px;
}
