html {
  font-family: "Oswald", sans-serif;
}

input:focus {
  outline: none;
  cursor: pointer;
}
.image-left {
  width: 500px;
}
.image-left img {
  width: 700px;
  margin-top: 200px;
  margin-left: 40px;
}

.image-form-tab {
  display: flex;
}

.form-tab {
  margin-left: 370px;
  background-color: #407aff;
  width: 387px;
  height: 500px;
  margin-top: 55px;
  border-radius: 10px;
}

.form-title {
  color: white;
  margin-left: 30px;
  font-size: 35px;
}

.form-tab input {
  width: 343px;
  height: 40px;
  margin-left: 17px;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  padding-inline-start: 4px;
}

.form-name {
  display: flex;
}
.form-name input {
  width: 159.5px;
}

.gender-option {
  width: 350px;
  height: 40px;
  margin-left: 16px;
  border-radius: 5px;
  margin-top: 20px;
  outline: none;
  color: #757575;
}

.gender-option option {
  width: 345px;
  height: 40px;
  color: #757575;
}

.form-submit {
  background-color: #1540a7;
  color: white;
  font-size: 15px;
  width: 348px;
  height: 50px;
  margin-left: 17px;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 17px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.form-or {
  color: white;
  text-align: center;
}

.SignUpWithGoogle {
  width: 348px;
  height: 50px;
  margin-left: 17px;
  margin-top: 10px;
  border: none;
  background-color: #1540a7;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.SignUpWithGoogle p {
  font-size: 17px;
  margin-left: 30px;
}

svg {
  background-color: white;
  border-radius: 5px;
  margin-right: 6px;
}

.form-submit:hover {
  background-color: white;
  color: black;
}

.SignUpWithGoogle:hover {
  background-color: white;
  color: black;
}
